html {
  box-sizing: border-box;
  background-color: #f0eee8;
  color: #785439;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  border: 3px solid #9a816d;
  border-radius: 8px;
  background-color: #dcd4cd;
  padding: 0 1rem 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  display: block;
  color: #512200;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
}

p {
  color: #512200;
  font-size: 1rem;
}

.stats {
  border-bottom: 3px solid #9a816d;
  border-top: 3px solid #9a816d;
  margin: 0 0 1rem;
  font-size: .875rem;
}

dt {
  display: inline-block;
  width: 50%;
}

dd {
  display: inline-block;
  margin: 0;
  width: 40%;
}

.div-btn {
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: .4em .75em .5em;
  background-color: #785439;
  border-radius: 8px;
  text-decoration: none;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  color: #fff;
}
